name: Docker Release

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract repo + tag info
        id: vars
        run: |
          OWNER="${GITHUB_REPOSITORY%%/*}"
          REPO="${GITHUB_REPOSITORY##*/}"
          TAG_NAME="${GITHUB_REF#refs/tags/}"

          # Extrahiere Major Version (v1)
          MAJOR_VERSION=$(echo "$TAG_NAME" | cut -d. -f1)

          IMAGE="ghcr.io/${OWNER}/${REPO}"

          echo "owner=${OWNER}" >> $GITHUB_OUTPUT
          echo "repo=${REPO}" >> $GITHUB_OUTPUT
          echo "image=${IMAGE}" >> $GITHUB_OUTPUT
          echo "version=${TAG_NAME}" >> $GITHUB_OUTPUT
          echo "major_version=${MAJOR_VERSION}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ steps.vars.outputs.image }}:${{ steps.vars.outputs.version }}
            ${{ steps.vars.outputs.image }}:${{ steps.vars.outputs.major_version }}
            ${{ steps.vars.outputs.image }}:latest
